<div class="margin">
  <h1>Job Detail</h1>

  <table>
    <tr>
      <td>Title:</td>
      <td><%= @job.title %>
      </td>
    </tr>

    <tr>
      <td>Post:</td>
      <td><%= @job.post %></td>
    </tr>
    <tr>
      <td>Experience:</td>
      <td><%= @job.experience %></td>
    </tr>
    <tr>
      <td>salary:</td>
      <td><%= @job.salary %></td>
    </tr>
  </table>
</div>







